/* Basic reset */
*,
*::after,
*::before {
   box-sizing: inherit;
   margin: 0; 
   padding: 0;
}

html {
   font-size: 62.5%; /* Similar to 10px */ 
}

body {
   box-sizing: border-box; 
   color: #FFF; 
   font-family: sans-serif;
   font-weight: 400; 
   height: 100vh;
   padding: 3rem;
}

/* Styling of centered box */
.main {
   background-image:
      linear-gradient(
         rgba(28, 28, 28, 0.4), 
         rgba(28, 28, 28, 0.4)
      ), 
      url(../img/background.jpg);
   background-size: cover;
   background-position: top; 
   height: 100%; 
   position: relative;
}

.hero-box {
   position: absolute;
      top: 40%; 
      left: 50%;
   transform: translate(-50%, -50%);
}

/* Everything related to headings */
.heading-primary {
   backface-visibility: hidden;
   text-align: center;
}

.heading-primary-main {
   animation: moveInLeft 1s ease-out;

   display: block;
   font-size: 8rem;
   padding: 0 0 2rem 0;
   text-transform: uppercase;
}

.heading-primary-sub {
   animation: moveInRight 1s ease-out;

   display: block;
   font-size: 3rem;
   padding: 0 0 2rem 0;
   text-transform: uppercase;
}

.heading-social-media {
   animation: moveUp 1s ease-out;
   animation-delay: 1s; 
   animation-fill-mode: backwards; 

   padding: 15px;
   text-align: center;
}

.heading-social-media a {
   color: #FFF;
   font-size: 3rem;
   padding: 1.5rem;
}

/* Everything related to the footer */
.footer-box {
   backface-visibility: hidden;

   padding: 1.5rem;
   position: absolute; 
      left: 50%;
      bottom: 0;
   transform: translate(-50%, -50%);
}

.footer-text {
   animation: moveUp 1s ease-out;
   animation-delay: 1s; 
   animation-fill-mode: backwards;

   font-size: 1.6rem; 
}

/* Animations */
@keyframes moveInLeft {
   0% {
      opacity: 0;
      transform: translateX(-10rem);
   }

   80% {
      transform: translateX(1rem);
   }

   100% {
      opacity: 1;
      transform: translate(0);
   }
}

@keyframes moveInRight {
   0% {
      opacity: 0;
      transform: translateX(10rem);
   }

   80% {
      transform: translateX(-1rem);
   }

   100% {
      opacity: 1;
      transform: translate(0);
   }
}

@keyframes moveUp {
   0% {
      opacity: 0;
      transform: translateY(5rem); 
   }

   100% {
      opacity: 1;
      transform: translate(0);
   }
}